*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}



.flex{
    display: flex;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.stile-bottone{
    padding: 0.6em 1.3em;
    border:none;
    border-radius: 2em;
}

.grey{
    background-color: #F5F5F5;
}

h1{
    font-size: 3em;
    font-weight: 700;
}

.wave{
    height: 80px;
    width: 100%;   
}

.wave-2{
    height:80px;
    width: 100%;
    transform: rotateX(180deg);
}

p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
}
/* regole di debug */
.debug nav, .debug ul, .debug .footer-top, .debug .bot-head>div,.debug .image, .debug .text,
 .debug .last, .debug .column-l, .debug .fine div{
    border: dashed black 2px;
}

.debug .top-head{
    background-color: aqua;
}

.debug .navigator{
    background-color:rgb(240, 202, 80);
}


.debug .bot-head{
    background-color: blue;
}

.debug .bot-head>div{
    background-color: violet;
}

.debug .image{
    background-color: deepskyblue;
}

.debug .text{
    background-color: peachpuff;
}

.debug .last{
    background-color: green;
}

.debug .column-l{
    background-color: darksalmon;
}

.debug .column-s{
    background-color: darkcyan;
    border: dashed white 2px;
}

.debug .fine{
    background-color:lightgreen;
}

.debug .fine div{
    background-color: indianred;
}

/* fine regole di debug */
/* inizio regole parte alta dell'header */

.top-head{
    height:80px;
    justify-content: center;
    align-items: center;
    background-color: #255EE9;
}

.navigator{
max-width: 1200px;
width: 100%;
}

ul, nav{
    height: 50px;
}

.logo{
    width: 25%;
    padding: 10px;
}

.login{
    width: 25%;
    padding: 10px;
    align-items: center;
    justify-content: right;
}

.login button{
    background-color: #fff;
}

.navigator ul{
    width: 70%;
    padding: 10px;
    color: #fff;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}


/* fine regole parte alta dell'header 
   e inizio regole parte bassa dell'header*/
.bot-head{
    padding: 50px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-position: center;
}   

.bot-head > div{
    height: 400px;
    width: 950px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.bot-head h1{
    padding-top: 85px;
    padding-bottom: 35px;
}

.bot-head p{
    max-width: 75%;
    margin: auto;
}

.scarica{
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0.5em;
}

.apri{
    background-color: #23272A;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0.5em;
    height: 59px;
}
 
/* fine regole parte bassa dell'header 
   e inizio regole delle sezioni del main */
main > section{
    padding: 100px;
}

.main1 div{
    justify-content: center;
}



.image{
    height: 500px;
    width: 700px;
}

.text{
    height: 500px;
    width: 470px;
}

.text h1{
    margin: 30px 0;
    padding-right: 60px;
}

.text p{
    padding-right: 60px;
}

.main2{
    height: fit-content;
}
.last{
    width: 1170px;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.last h1{
    margin: 30px 0;
}

.last-text{
    width: 85%; 
    margin: auto;
}

.last img{
    width: 1170px;   
}

.messaggio-finale{
    height:fit-content;
    width: 50%;
    margin: auto;
    padding-top: 50px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 20px;
}

.scarica2{
    color: #fff;
    background-color: #7289DA;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* fine regole della sezione main 
   e inizio regole sezione footer */
footer{ 
    background-color: #23272A;
    padding: 70px;
}

.footer-top{
    width: 1170px;
    border-bottom: solid 1px #7289DA;
    margin: auto;
    margin-bottom: 20px;
    color: #fff;
}

.column-l{
    height: 500px;;
    width: 28%;
}

.footer-top h2{
    color: #7289DA;
    font-size: 2em;
}

.column-l div{
    align-items: center;
}

.lingua{
    width: 30px;
    margin: 20px 5px;
}

.column-l p{
    font-size: 15px;
}

i{
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.column-s{
    height: 500px;
    width: 18%;
}

.column-s ul{
    list-style: none;
    line-height: 2.5em;
}
.footer-top h3{
    color: #7289DA;
}

.fine{
    height: 80px;
    width: 1170px;
    margin: auto;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.fine button{
    color: #F5F5F5;
    background-color: #7289DA;
}